@model IEnumerable<lubnamaster.Models.OrderDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmain.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item.Item_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item.Item_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderDetaileId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderDetaileId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderDetaileId })
        </td>
    </tr>
}

</table>
